fastapi
uvicorn[standard]
pandas
numpy
networkx
scikit-learn
tqdm
sentence-transformers
requests
python-multipart
pydantic
pytesseract
pdf2image
Pillow
streamlit
python-dotenv
pyvis
seaborn
matplotlib